@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f3eae3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60em;
  }
  
  .content {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 20px;
  }
  
  #cologne-img {
    width: 300px; 
    height: 450px; 
    border-radius: 8px 0 0 8px; 
  }
  
  #cologne-img-mobile {
    display: none;
  }

  .text-box {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; 
    height: 410px;
    border-radius: 0 8px 8px 0; 
  }
  
  h1, p {
    color: #333;
  }
  
  button {
    background-color: #3d8168;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  